Brotli==1.1.0
Markdown==3.6
MarkupSafe==3.0.2
PyJWT==2.10.1
PySide6==6.8.2
PySocks==1.7.1
PyYAML==6.0.2
absl-py==2.1.0
aiobotocore==2.21.0
aiohappyeyeballs==2.4.8
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
asn1crypto==1.5.1
asttokens==3.0.0
attrs==25.1.0
blis==1.0.1
bokeh==3.6.3
botocore==1.37.1
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.20.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
cytoolz==1.0.1
dask==2024.12.1
dask-cuda==25.2.0
dask-expr==1.1.21
dask-saturn==0.4.4
debugpy==1.8.13
decorator==5.2.1
distributed==2024.12.1
exceptiongroup==1.2.2
executing==2.1.0
fastai==2.7.18
fastcore==1.7.20
fastdownload==0.0.7
fastprogress==1.0.3
filelock==3.17.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
gmpy2==2.1.5
graphviz==0.20.3
grpcio==1.67.1
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==9.0.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
langcodes==3.4.1
language_data==1.3.0
llvmlite==0.43.0
locket==1.0.0
lz4==4.3.3
marisa-trie==1.2.1
markdown-it-py==3.0.0
marshmallow==3.26.1
marshmallow_dataclass==8.7.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nest_asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numpy==2.0.2
nvidia-ml-py==12.570.86
opencv-python==4.11.0
opencv-python-headless==4.11.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.0.1
platformdirs==4.3.6
preshed==3.0.9
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==5.28.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyOpenSSL==25.0.0
pyarrow==19.0.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pynvml==12.0.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==26.2.1
rapids-dask-dependency==25.2.0a0
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3fs==2025.2.0
saturn-client==2024.12.12
saturnfs==2024.3.28
scikit-learn==1.6.1
scipy==1.15.2
setuptools==75.8.2
shellingham==1.5.4
shiboken6==6.8.2
six==1.17.0
smart_open==7.1.0
snowflake-connector-python==3.14.0
sortedcontainers==2.4.0
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack_data==0.6.3
sympy==1.13.3
tblib==3.0.0
tensorboard==2.19.0
tensorboard_data_server==0.7.0
thinc==8.3.2
threadpoolctl==3.5.0
tomlkit==0.13.2
toolz==1.0.0
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triton==3.0.0
typeguard==4.4.2
typer==0.15.2
typer-slim==0.15.2
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2025.1
ujson==5.10.0
unicodedata2==16.0.0
urllib3==2.3.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.13
wrapt==1.17.2
xyzservices==2025.1.0
yarl==1.18.3
zict==3.0.0
zipp==3.21.0
zstandard==0.23.0
setuptools-scm==8.3.1
ninja==1.13.0
einops==0.8.1
flash_attn==2.8.2
coolname==2.2.0
antlr4-python3-runtime==4.9.3
adam_atan2==0.0.3
typing-inspection==0.4.1
smmap==5.0.2
sentry-sdk==2.34.1
python-dotenv==1.1.1
omegaconf==2.3.0
hf-xet==1.1.7
hydra-core==1.3.2
huggingface-hub==0.34.4
gitdb==4.0.12
pydantic-settings==2.10.1
GitPython==3.1.45
wandb==0.21.1
argdantic==1.3.3
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
